.archived-questions-container{
    padding: 10px;
    border: #000 solid 2px;
    background-color: #fff;
    box-shadow: 4px 4px 0px rgb(0, 0, 0);
    border-radius: 5px;
    text-align: center;

}
.archived-questions-container h1{
    font-weight: bolder;
    margin-bottom: 10px;
}

.archived-question-item {
    margin-bottom: 10px;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .archived-question-link {
    display: block;
    text-decoration: none;
    color: inherit;
    background-color: #FD8B51;
    border: 2px solid #000;
    padding: 15px;
    transition: background-color 0.3s;
  }
  
  .archived-question-link:hover {
    background-color: #fb7430;
  }
  
  .archived-question-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .archived-question-title {
    font-size: 18px;
    font-weight: bold;
  }
  
  .attempts-indicator {
    display: flex;
    align-items: center;
  }
  
  .attempts-indicator div {
    width: 20px;
    height: 20px;
    background-color: #555;
    margin-right: 5px;
    border-radius: 3px;
  }
  
  .attempts-indicator .completed {
    background-color: #4caf50;
  }
  
  .attempts-text {
    font-size: 14px;
    color: #ccc;
  }